* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 35px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

#home-title {
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 2em;
    margin-top: 10px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
    margin: 25px 0;
}

main {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.card-img{
    border: 10px solid black;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}


#background {
    height: 725px;
    background-color: #8BB9E0;
}

body {
    background-color: #FCFBFB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3E6F8A;
}

nav a:hover {
    background-color: #0F1226;
    color: #FFFFFF;
}

.book,
.join {
    background-color: #3E6F8A;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #0F1226;
    color: #FFFFFF;
}

.msg {
    background-color: #8BB9E0;
    line-height: 1.5em;
    padding: 35px;
}



.icon {
    width: 80px;
    padding-top: 10px;
}

h4 {
    color: #3E6F8A;
}

.msg h2 {
    color: #0F1226;
    font-family: "Courier New", Courier, monospace;
}

h2 {
    margin: 0;
}

.msg p {
    color: #FFFFFF;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #8BB9E0;
    color: #FFFFFF;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    color: #009B97;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}