* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

image {
    max-width: 100%;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
}

header {
    text-align: center;
    background-color: #333;
    font-size: 100%;
    padding: 1em;
}

header > nav {
    display: flex;
    justify-content: center;
    gap: 2em;
}

header > nav > a {
    color: white;
    text-decoration: none;
}
header > img {
    border-radius: 50%;
    margin: 1em auto;
}

#image-scroller {
    position: relative;
}

#image-scroller h1 {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: white;
}

 #image-scroller p {
    position: absolute;
    top: 50%;
    color: white; 
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 0 1em;
 }

 #image-scroller img {
    width: 100%;
 }

#product-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding: 2em;
    max-width: 100%;
}

.product h2 {
    font-size: 1em;;
}

.product p {
    font-size: 0.8em;
}

.product img {
    border-radius: 5%;
    box-shadow: 1px 1px 10px #888;
    margin-bottom: .5em;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 1em;
}

footer .social-media {
    display: flex;
    gap: 0.5em;
}