body {
    text-align: center;
}

img {
    max-width: 800px;
    border: 4px solid #006eb6;
}

nav {
    background-color: #006eb6;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

h1 {
    color: #006eb6;
}

footer {
    background-color: #006eb6;
    color: white;
    padding: 10px;
}