* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
    background: #343a40;
    text-align: center;
    padding: 1em;
}

nav {
    font-family: "Georgia Pro", Georgia;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: grey;
    gap: 1em;
    padding: 0.75em 1em;
}

#top {
    display: flex;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

body {
    max-width: 1000px;

    margin: 0 auto;
    font-family: "Georgia Pro", Georgia, serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}



nav a {
    text-decoration: none;
    color: white;
    padding: 2em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
}

section {
    padding: 1em;
    border-radius: 6px;
}

section#blue {
    background-color: lightblue;
}

section#green {
    background-color: lightgreen;

}

section#red {
    background-color: lightcoral;

}

section#about {
    grid-column: 1 / -1;
    text-align: center;
}

form {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 1rem;
}

input,
button {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

button {
    background: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}
section img:hover{
    transform: scale(1.05);
}

button:hover {
    opacity: 0.9;
}

footer {
    background-color: grey;
    text-align: center;
    padding: 1em;
    color: #f8f9fa;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    nav {
        flex-wrap: wrap;
    }
}